<form autocomplete="off" #createPartyModal="ngForm" (ngSubmit)="save()">
        <h1 mat-dialog-title>{{ "CreateNewParty" | localize }}</h1>
        <mat-dialog-content style="width:800px;height:300px;">
          <mat-tab-group>
            <mat-tab [label]="'PartyDetails' | localize">
              <br />
              <div class="row-fluid">
                <div class="col-md-6">
                  <mat-form-field>
                    <input
                      matInput
                      name="Name"
                      [placeholder]="'PartyName' | localize"
                      [(ngModel)]="party.name"
                      required
                      minlength="2"
                      maxlength="32"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      matInput
                      #contact="ngModel"
                      [placeholder]="'ContactNo' | localize"
                      [(ngModel)]="party.contactNo"
                      type="text"
                      name="contactNo"
                      id="contactNo"
                      reverse="true"
                      maxlength="32"
                    />
                  </mat-form-field>
                  <div class="checkbox-wrapper">
                    <mat-checkbox name="IsActive" [(ngModel)]="party.isActive">
                      {{ "IsActive" | localize }}
                    </mat-checkbox>
                  </div>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <input
                      matInput
                      name="Area"
                      [placeholder]="'Area' | localize"
                      [(ngModel)]="party.area"
                      type="text"
                      maxlength="256"
                    />
                  </mat-form-field>
                </div>
              </div>
            </mat-tab>
            <mat-tab [label]="'UserRoles' | localize">
              <br />
              <div class="row-fluid">
                <!-- <ng-template ngFor let-role [ngForOf]="roles">
                  <div class="col-sm-6">
                    <div class="checkbox-wrapper">
                        <mat-checkbox
                            [checked]="true">name
                          </mat-checkbox>
                    </div>
                  </div>
                </ng-template> -->
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-dialog-content>
        <div mat-dialog-actions align="end">
          <button mat-button type="button" [disabled]="saving" (click)="close(false)">
            {{ "Cancel" | localize }}
          </button>
          <button
            mat-flat-button
            type="submit"
            flex="15"
            color="primary"
            [disabled]="!createPartyModal.form.valid || saving"
          >
            {{ "Save" | localize }}
          </button>
        </div>
      </form>
      