<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/johanagrofood</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/johanagrofood</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="JohanAgroFoodDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=OPU-PC;Initial Catalog=JohanAgroFoodDB;Integrated Security=False;User ID=sa;Password=123456;Application Name=EntityFramework" Name="Data Source=OPU-PC;Initial Catalog=JohanAgroFoodDB;Integrated Security=False;User ID=sa;Password=123456;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Johan.DATA.JohanAgroFoodDBEntities, Johan.DATA" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="JohanAgroFoodDBConnectionString" Order="2" Enabled="True">
          <Destination Path="Data Source=OPU-PC;Initial Catalog=JohanAgroFoodDB;Integrated Security=False;User ID=sa;Password=123456;Application Name=EntityFramework" Name="Data Source=OPU-PC;Initial Catalog=JohanAgroFoodDB;Integrated Security=False;User ID=sa;Password=123456;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=OPU-PC;Initial Catalog=JohanAgroFoodDB;Integrated Security=False;User ID=sa;Password=123456;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\JohanAgroFoodDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=OPU-PC;Initial Catalog=JohanAgroFoodDB;Integrated Security=False;User Id=sa;Password=123456;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbFullSql">
            <Source Path="Grant.sql" Transacted="False" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JohanAgroFoodDBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=OPU-PC;Initial Catalog=JohanAgroFoodDB;Integrated Security=False;User ID=sa;Password=123456;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JohanAgroFoodDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/JohanAgroFoodDB.csdl|res://*/JohanAgroFoodDB.ssdl|res://*/JohanAgroFoodDB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=OPU-PC;Initial Catalog=JohanAgroFoodDB;Integrated Security=False;User ID=sa;Password=123456;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>