<script src="~/App/Components/Car/carController.js"></script>
<script src="~/App/Components/Car/carService.js"></script>


<div class="pageContainer" ng-controller="carCtrl">
    <div class="row">
        <div style="height: 30px;"></div>
    </div>

    <div class="row">

        <fieldset class="scheduler-border">
            <legend class="scheduler-border">গাড়ির হিসাব</legend>
        </fieldset>

        <form class="form-horizontal">

            <div class="col-md-4">
                <div class="form-group">
                    <label for="fromdate" class="col-md-4 control-label">আরম্ভের তারিখঃ</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="car.fromDate" id="fromdate">
                    </div>
                    <script type="text/javascript">
                        $("#fromdate").datepicker({ dateFormat: 'dd-mm-yy' });
                    </script>
                </div>

                <div class="form-group">
                    <label for="todate" class="col-md-4 control-label">শেষ তারিখঃ</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="car.toDate" id="todate" />
                    </div>
                    <script type="text/javascript">
                        $("#todate").datepicker({ dateFormat: 'dd-mm-yy' });
                    </script>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a class="btn btn-success" id="link-6" target="_blank" ng-href="/Car/GeneralReport?from={{car.fromDate}}&to={{car.toDate}}">রিপোর্ট দেখুন</a>
                    <button class="btn btn-success" ng-click="cancelReport()">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true">বাতিল</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>