@model Johan.DATA.tblBuy
@{
    ViewBag.Title = "ধান বিক্রয়ের তথ্য";
}

<script src="~/App/Components/Paddy/paddyController.js"></script>
<script src="~/App/Components/Paddy/paddyService.js"></script>
<script src="~/App/Components/Common/commonSvc.js"></script>

<div class="pageContainer" ng-controller="paddyCtrl">

    <div class="row">
        <div style="height: 30px;"></div>
    </div>

    <div class="row">

        <fieldset class="scheduler-border">
            <legend class="scheduler-border">ধানের তথ্য</legend>
        </fieldset>

        <form name="paddyInfoForm" class="form-horizontal" novalidate>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="Party" class="col-md-5 control-label">পার্টিঃ</label>
                    <div class="col-md-7">
                        <typeahead items="parties" model="paddyInfo.partyName" value="paddyInfo.partyId" />
                        @*<select class="form-control" jh-select="paddyInfo.partyName" ng-model="paddyInfo.partyId" ng-options="party.ID as party.name for party in parties" id="Party">
                            <option value=""></option>
                        </select>*@
                    </div>
                </div>
                <div class="form-group">
                    <label for="stock" class="col-md-5 control-label">স্টকঃ</label>
                    <div class="col-md-7">
                        <select class="form-control" jh-select="paddyInfo.stockName" ng-model="paddyInfo.stockId" ng-options="stock.ID as stock.stockName for stock in stocks" id="rice">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="rice" class="col-md-5 control-label">ধানঃ</label>
                    <div class="col-md-7">
                        <select class="form-control" jh-select="paddyInfo.productName" ng-model="paddyInfo.productId" ng-options="paddy.ID as paddy.productName for paddy in paddies" id="rice">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="date" class="col-md-5 control-label">তারিখঃ</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" ng-model="paddyInfo.date" id="date">
                    </div>
                    <script type="text/javascript">
                        $("#date").datepicker({ dateFormat: 'dd-mm-yy' });
                    </script>
                </div>
                <div class="form-group">
                    <label for="trno" class="col-md-5 control-label">ট্রাক নাম্বারঃ</label>
                    <div class="col-md-7">
                        <bangla-number input-value="paddyInfo.trNum" output-value="paddyInfo.truckNumber" required="false" id="trno" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="totbag" class="col-md-5 control-label">মোট ব্যাগঃ</label>
                    <div class="col-md-7">
                        <bangla-number input-value="paddyInfo.noBag" output-value="paddyInfo.noOfBag" required="true" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="rcperbag" class="col-md-5 control-label">প্রতি ব্যাগে ধানঃ</label>
                    <div class="col-md-7">
                        <label class="col-sm-10">
                            <bangla-number input-value="paddyInfo.qtyKg" output-value="paddyInfo.quantityPerBag" required="true" />
                        </label>
                        <p class="col-sm-2"><strong>কেজি</strong></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="rcperbag" class="col-md-5 control-label">মোট ধানঃ</label>
                    <div class="col-md-7">
                        <label class="col-sm-10">
                            <bangla-number input-value="paddyInfo.qtyMon" output-value="paddyInfo.quantityMon" ng-click="kgConvertToMon()" required="true" />
                        </label>
                        <p class="col-sm-2"><strong>মণ</strong></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="prpermon" class="col-md-5 control-label">প্রতি মণের মূল্যঃ</label>
                    <div class="col-md-7">
                        <bangla-number input-value="paddyInfo.uPrice" output-value="paddyInfo.price" required="true" />
                        @*<div class="checkbox">
                            <label><input type="checkbox" ng-model="paddyInfo.isMon" /> মণ</label>
                        </div>*@

                    </div>
                </div>
                <div class="form-group">
                    <label for="totprice" class="col-md-5 control-label">মোট ধানের মূল্যঃ</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" ng-click="getPaddyPrice()" readonly ng-model="paddyInfo.totPrice" id="totprice" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="trcost" class="col-md-5 control-label">পরিবহন খরচঃ</label>
                    <div class="col-md-5">
                        <bangla-number input-value="paddyInfo.transCost" output-value="paddyInfo.transportCost" required="false" />
                    </div>
                    <div class="col-md-2">
                        <input type="checkbox" data-ng-model="paddyInfo.transportCostInclude" id="trcos" />
                    </div>

                    @*<label for="trcos">পরিবহন খরচ অর্ন্তভুক্ত</label>*@
                </div>
                <div class="form-group">
                    <label for="trno" class="col-md-5 control-label">প্রতি ব্যাগে শ্রমিক খরচঃ</label>
                    <div class="col-md-7">
                        <bangla-number input-value="paddyInfo.lcpb" output-value="paddyInfo.labourCostPerBag" required="false" id="trno" />
                    </div>
                </div>
                
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="paid" class="col-md-5 control-label">প্রতি মণে পরতাঃ</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" ng-click="getTotalPerMon()" readonly ng-model="paddyInfo.totalPerMon" id="totprice" />
                        @*<input type="number" class="form-control" ng-model="riceInfo.paidAmount" id="paid" />*@
                    </div>
                </div>
                @*<div class="form-group">
                    <label for="trcost" class="col-md-5 control-label">সর্বমোট খরচঃ</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" ng-click="getTotalPrice()" readonly ng-model="paddyInfo.totalPrice" id="totprice" />
                    </div>
                </div>*@
                <div class="form-group">
                    <label for="paid" class="col-md-5 control-label">প্রদানকৃত টাকাঃ</label>
                    <div class="col-md-7">
                        <bangla-number input-value="paddyInfo.paidAmoun" output-value="paddyInfo.amount" required="false" />
                    </div>
                </div>
                @*<div class="form-group">
                    <label for="noOfSackSen" class="col-md-4 control-label">ব্যাগ সরবরাহঃ</label>
                    <div class="col-md-8">
                        <bangla-number input-value="paddyInfo.noOfSackSen" output-value="paddyInfo.noOfSackSent" required="false" />
                    </div>
                </div>*@
                @*<div class="form-group">
                    <label for="noOfSackRcv" class="col-md-4 control-label">ব্যাগ গ্রহনঃ</label>
                    <div class="col-md-8">
                        <bangla-number input-value="paddyInfo.noOfSackRcv" output-value="paddyInfo.noOfSackRcvd" required="false" />
                    </div>
                </div>*@
                <div class="form-group">
                    <label for="bagPric" class="col-md-4 control-label">প্রতিটি ব্যাগের মূল্যঃ</label>
                    <div class="col-md-8">
                        <bangla-number input-value="paddyInfo.bagPric" output-value="paddyInfo.bagPrice" required="false" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">

                    <button class="btn btn-success" ng-click="save()">
                        সেভ
                        <span class="glyphicon glyphicon-save" aria-hidden="true"> </span>
                    </button>
                    <button class="btn btn-success">
                        রিসেট
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

        </form>

    </div>

    <div class="row">
        <fieldset class="fsStyle">
            <legend class="legendStyle">
                <a data-toggle="collapse" data-target="#demo" href="#">ক্রয়ের তালিকা</a>
            </legend>
            <div class="gridStyle" ui-grid="gridOptions"></div>
        </fieldset>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" style="top:40%; height:100px; overflow:hidden; outline:none;" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="modal-title" id="myModalLabel">Please wait....</h4>
                </div>
            </div>
        </div>
    </div>
</div>