@model Johan.DATA.tblCommonElement
@{
    ViewBag.Title = "জোন";
}
<script src="~/App/Components/Zone/zoneController.js"></script>
<script src="~/App/Components/Zone/zoneService.js"></script>
<div class="row">
    <div style="height:20px;"></div>
</div>
<div ng-controller="zoneCtlr" class="row">
    <div class="col-md-4">
        <form class="form-horizontal" name="zoneForm" novalidate>
            <div class="form-group">
                <div class="col-sm-8 col-md-offset-2">
                    <h4>জোন</h4>
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-sm-4 control-label">জোনের নাম</label>
                <div class="col-sm-8" ng-class="{ 'has-error' : zoneForm.name.$invalid && submitted }">
                    <input type="text" class="form-control" name="name" data-ng-model="zone.elementName" required>
                </div>
                <p ng-show="zoneForm.name.$invalid && submitted" class="help-block col-lg-offset-4">জোনের ঘর খালি থাকতে পারবে না।</p>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">

                    <button class="btn btn-success" ng-click="save()" ng-disabled="zoneForm.$invalid && submitted">
                        <span class="glyphicon glyphicon-save" aria-hidden="true">সেভ</span>
                    </button>
                    <button class="btn btn-success" ng-click="reset()">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true">রিসেট</span>
                    </button>
                </div>
            </div>

        </form>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <div class="col-sm-8">
                <h4>জোন সমুহ</h4>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>নাম</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="zn in zones">
                        <td>{{zn.elementName}}</td>
                        <td>
                            <button class="btn btn-default" value="Edit" ng-click="edit(zn)">
                                <span class="glyphicon glyphicon-pencil"></span>পরিবর্তন
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-default" value="Delete" ng-click="delete(zn)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true">মূছুন</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" style="top:40%; height:100px; overflow:hidden; outline:none;" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="modal-title" id="myModalLabel">Please wait....</h4>
                </div>
            </div>
        </div>
    </div>
</div>